.container-full {
  background-color: #0b2f6c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.autocomplete {
  position: relative;
  width: 400px;
}

.loading {
  width: 100%;
  position: absolute;
  border-top: none;
  list-style: none;
  color: #fff;
}

.autocomplete-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.suggestions-list {
  position: absolute;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  width: 100%;
  z-index: 99;
  box-sizing: border-box;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

.suggestion-item:hover {
  background-color: #f2f2f2;
}
