.container-full {
  background-color: #0b2f6c;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.instruction {
  color: #fff;
}

.autocomplete {
  position: relative;
  margin-top: 25vh;

  width: 400px;
}

.loading {
  width: 100%;
  position: absolute;
  color: #fff;
}

.autocomplete-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
